<%- include("partials/header"); -%>

<h1 class="posts">Hi I am a programmer</h1>


<div class="row">
  <div class="col-lg-6">
  <img class="profile-picture" src="images/me.jpg" alt="Avinash photo">
</div>
  <div class="col-lg-6">
    <p class="about">
    Myself AVINASH KUSHWAHA , currently pursing B.Tech from Institute of Engineering and Technology , Lucknow. First of all I thank you for using my website. I am an upcoming web developer and fond of new tech stacks . Also I love to code . I prefer to code in C++ and javascript . My career goals is to work with a reputed firm in IT industry.
    </p>
  </div>
</div>

<%- include("partials/footer"); -%>
