<%- include("partials/header"); -%>

<h1 style="margin:100px auto">Wanna Talk!</h1>
<h1 style="margin:100px auto">Mail me</h1>
<a class="dark-btn" href="mailto:avinashkush1010@gmail.com">HERE</a>

<%- include("partials/footer"); -%>
