<%- include('partials/header') %>


<div class="jumbotron start jumbotron-fluid centered">
  <div class="container">

    <h2 class="display-3">Welcome</h2>
    <h1 class="display-3">EXPLORER!</h1>
    <p class="lead">This is your one-stop destination to share your adventures with the world :)</p>
    <br><br>
    <span>Already a user</span>
    <br>
    <a class="btn btn-dark btn-lg login-btn" href="/login" role="button">Login</a>
    <br><br><br><br>
    <span>Create your LogBook account</span>
    <a class="btn btn-light btn-lg register-btn" href="/register" role="button">Register</a>



  </div>
</div>

<%- include('partials/footer') %>
